<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <!-- Force specific versions to avoid duplicate JAR conflicts -->
  <packageRules>
    <rule pattern="Xamarin.AndroidX.Lifecycle.*" type="warn" />
    <rule pattern="Xamarin.AndroidX.*Ktx*" type="warn" />
  </packageRules>
</configuration>
